@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Montserrat:ital,wght@1,600&family=Nunito+Sans:opsz,wght@6..12,600&family=Young+Serif&display=swap");

.Counter {
  font-size: 2em;
  text-align: center;
  background-color: #194957;
  color: #fff;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
}

/*
.step,
.count {
  font-family: "Young Serif", serif;
  display: flex;
}

.btnUp {
  position: relative;
  bottom: 80px;
  width: 32px;
  height: 24px;
  margin-left: 16px;
  border-radius: 6px;
  border: none;
}

.btnDown {
  position: relative;
  bottom: 80px;
  width: 32px;
  height: 24px;
  margin-left: 16px;
  border-radius: 6px;
  border: none;
}
*/
